PORT=5000
MONGO_URI=
JWT_SECRET=
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Media Uploads (Optional: Cloudinary config, fallback to local uploads if not specified)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
